In [1]:
import sqlite3
import pandas as pd

In [6]:
connection = sqlite3.connect('books.db')

print(pd.read_sql("""SELECT last AS lastname FROM Authors ORDER BY last DESC""", connection))

  lastname
0     Wald
1    Quirk
2   Deitel
3   Deitel
4   Deitel

In [7]:
print(pd.read_sql("""SELECT title AS titles FROM titles ORDER BY title""", connection))

                             titles
0         Android 6 for Programmers
1            Android How to Program
2                  C How to Program
3                C++ How to Program
4     Internet & WWW How to Program
5     Intro to Python for CS and DS
6               Java How to Program
7  Visual Basic 2012 How to Program
8          Visual C# How to Program
9         Visual C++ How to Program

In [8]:
print(pd.read_sql("""select first,last,title,copyright,author_ISBN.isbn
                  from author_ISBN
                  inner join titles on titles.isbn = author_ISBN.isbn
                  inner join authors on authors.id = author_ISBN.id
                  where first='Paul'
                  order by titles.title""", connection))

  first    last                             title copyright        isbn
0  Paul  Deitel         Android 6 for Programmers      2016  0134289366
1  Paul  Deitel            Android How to Program      2017  0134444302
2  Paul  Deitel                  C How to Program      2016  0133976890
3  Paul  Deitel                C++ How to Program      2017  0134448235
4  Paul  Deitel     Internet & WWW How to Program      2012  0132151006
5  Paul  Deitel     Intro to Python for CS and DS      2020  0135404673
6  Paul  Deitel               Java How to Program      2018  0134743350
7  Paul  Deitel  Visual Basic 2012 How to Program      2014  0133406954
8  Paul  Deitel          Visual C# How to Program      2017  0134601548
9  Paul  Deitel         Visual C++ How to Program      2008  0136151574

In [9]:
cursor = connection.cursor()

cursor = cursor.execute("""INSERT INTO authors (first, last) VALUES ('Rowling', 'JK')""")

print(pd.read_sql('SELECT id, first, last FROM authors',connection))

   id      first    last
0   1       Paul  Deitel
1   2     Harvey  Deitel
2   3      Abbey  Deitel
3   4        Dan   Quirk
4   5  Alexander    Wald
5   6    Rowling      JK

In [10]:
cursor = cursor.execute("""INSERT INTO author_ISBN (id,isbn) VALUES (26,'1439139600')""")
cursor = cursor.execute("""INSERT INTO titles (isbn,title,edition,copyright) VALUES ('1439139600','Harry Potter',1,'2005')""")

print(pd.read_sql("""SELECT isbn,title,edition,copyright FROM titles where isbn = 1439139600""",connection))

         isbn         title  edition copyright
0  1439139600  Harry Potter        1      2005

In [11]:
print(pd.read_sql('SELECT id,isbn FROM author_ISBN where id = 26',connection))

   id        isbn
0  26  1439139600